<?php TPL::output('global/header.tpl.htm'); ?>
<div class="simpowenda" style=" min-height:600px;" id="simpowenda">

    <h2><b><?php _e('申请专栏');?></b></h2>
    <form action="column/ajax/apply/" method="post" id="column_form"
          onsubmit="return false;">
        <input type="hidden" name="post_hash" value="<?php echo new_post_hash()?>">
        <input type="hidden" name="logo_img" value="">
        <input type="hidden" name="id">
        <div class="zl_form">
            <?php if (get_setting('upload_enable') == 'Y' AND get_setting('advanced_editor_enable' == 'Y')) { ?>
            <dl>
                <dt><em style=" color:#f00">*</em><?php _e('专栏封面：');?></dt>
                <dd>
                    <div class="side-bar">
                        <dl>
                            <dt class="pull-left">
                                <img class="aw-border-radius-5" src="<?php echo G_STATIC_URL ?>/css/default/img/default-cover.jpg"
                                     id="logo_img" style="height: 100px;width: 100px;"></dt>
                            <dd class="pull-left">
                                <h5><?php _e('封面设置');?></h5>
                                <p><?php _e('支持 jpg、gif、png 等格式的图片 建议图片尺寸为100*100');?></p>
                                <a class="btn btn-mini btn-success" id="logo_uploader" href="javascript:;"><?php _e('上传封面');?></a>
                                <span id="logo_uploading_status" class="collapse"><i class="aw-loading"></i> <?php _e('文件上传中...'); ?></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="clearfix"></div>
                </dd>
            </dl>
            <?php }?>
            <dl>
                <dt><em style=" color:#f00">*</em><?php _e('专栏名称：');?></dt>
                <dd><input name="name" value="" type="text" style="width:600px" placeholder="<?php _e('输入专栏名称');?>"></dd>
            </dl>
            <dl>
                <dt><em style=" color:#f00">*</em><?php _e('专栏简介(60字内)：');?></dt>
                <dd><textarea cols="" rows="" name="description" placeholder="<?php _e('输入专栏简介');?>"></textarea></dd>
            </dl>
            <dl>
                <dd>
                    <div class="mod-footer clearfix">
                        <a class="btn btn-large btn-success btn-publish-submit" id="publish_submit"
                           onclick="AWS.ajax_post($('#column_form')); return false;"><?php _e('提交申请');?></a>
                    </div>
                </dd>
            </dl>
        </div>
    </form>
</div>
<script>
    $(function () {
        var fileUpload = new FileUpload('avatar', $('#logo_uploader'), $('#logo_img'), G_BASE_URL + '/column/ajax/logo_upload/', {loading_status: '#logo_uploading_status',accept:'image/*'},function () {
                $('input[name="logo_img"]').val($('#logo_img').attr('src'));
        });
    })
</script>
<?php TPL::output('global/footer.tpl.htm'); ?>
