<div class="md-slide-box">
	<div class="ck-slide">
        <ul class="ck-slide-wrapper">
          <li style="opacity: 0;">
            <a href="/"><img src="/static/taobihu_static/img/slide_001.jpg" alt=""></a>
          </li>
          <li style="opacity: 1;">
            <a href="/"><img src="/static/taobihu_static/img/slide_002.jpg" alt=""></a>
          </li>
        </ul>
    	<a href="javascript:;" class="ctrl-slide ck-prev" style="opacity: 0.15;">上一张</a> <a href="javascript:;" class="ctrl-slide ck-next" style="opacity: 0.15;">下一张</a>
        <div class="ck-slidebox" style="margin-left: -24px;">
        	<div class="slideWrap">
	            <ul class="dot-wrap">
	              <li class=""><em>1</em></li>
	              <li class="current"><em>2</em></li>
	            </ul>
          	</div>
        </div>
  </div>
  <script src="/static/taobihu_static/js/slide.js"></script>
  <script>
    $('.ck-slide').ckSlide({
      autoPlay: true
    });
  </script>
</div>