/* 注册页面 */
body{background:url('img/login_bg.jpg'); background-repeat:repeat-x; background-color:#fff;}
.btn-blue{height:40px;line-height:40px;padding:0;border:none;background-color: #fa7d3c;color: #fff !important;}
.btn-blue:hover{background-color: #ff8545;}
.btn-blue:active{background-color: #ff8545;}
.aw-register-box{width: 714px;height: auto;margin:100px auto 40px;padding:50px 0;background:#fff;border:1px solid #b3b3b3;border-radius: 3px;text-align: center;}
.aw-register-box h1{margin:45px 0 0;font-size: 20px;color: #666;}
.aw-register-box .mod-body{width: 390px;margin:0 auto;padding: 40px;}
.aw-register-box ul li{position:relative;line-height:30px;margin-bottom: 20px;}
.aw-register-box ul li input[type="text"], .aw-register-box ul li input[type="password"]{width:100%;height: 40px;line-height: 28px\0;padding-left:15px !important;box-shadow: none;border-color: #f2f2f2;}
.aw-register-box ul li.last{text-align: left;color:#666;}
.aw-register-box ul li.last input{vertical-align: -2px\0;}
.aw-register-box ul li.alert-danger i{margin-right: 5px;}
.aw-register-box ul li hr{margin:30px 0;}
.aw-register-box ul .aw-register-verify input{width: 190px !important;}
.aw-register-box ul .aw-register-verify img{cursor: pointer;}
.aw-register-box .more-information ul li{padding:5px 0;text-align: left;}
.aw-register-box .more-information .select_area{max-width: 120px;}
.aw-register-box .more-information-btn{position: absolute;left: 105px;top:-15px;width: 90px;background-color: #fff;color: #fa7d3c;}
.aw-register-agreement{position:relative;width:712px;margin:10px 0 0 -201px;padding: 20px;background:#f5f5f5;}
.aw-register-agreement-txt{max-height: 200px;overflow-x:hidden;overflow-y:auto;}
/* 注册提示 */
.aw-register-box li span{position:absolute;top:0;right:-145px;width: 130px;padding:5px;font-size:12px;border-radius: 5px;overflow: hidden;text-align: left;}
.aw-reg-tips{line-height:15px;background: #eef7fd;border: 1px solid #cfdde6;color:#999;}
.aw-reg-err{line-height: 28px;background: #ffeaea;border:1px solid #e5c3c4;color:#C00;}
.aw-reg-right{background: none;border: none;}

/* 开放接口注册页面 */
.aw-register-open-box{padding-top:30px;}
.aw-register-open-box p{width: 240px;text-align: left;margin: 0 auto 10px;}
.aw-register-open-box ul{padding-top:0px;}
.aw-register-open-tabs i{margin-left:5px;}
.aw-register-open-tabs.active .i-triangle-down{background-position: -210px -110px;}

/*短信验证码*/
.aw-register-validate{width:67%;float:left;}
.btn-large{width:100%;}

/* 找回密码 */
.aw-find-pwd{padding-bottom: 0;}
.aw-find-pwd .mod-body{margin: 30px auto 30px;}
.aw-find-pwd .mod-footer{height: 70px;line-height: 70px;background-color: #f5f5f5;border-radius: 0 0 3px 3px;}
.aw-register-box ul li.error p {background: none repeat scroll 0 0 #fff480;border: 1px solid #ebebeb;border-radius: 5px 5px 5px 5px;color: #666;height: 40px;line-height: 40px;padding-left: 12px;text-align: left;}
.aw-register-box ul li.error p .i-no{margin-right: 10px;position: relative;top:4px;}

@media (max-width: 769px) {
	#wrapper{padding: 10px;}
	.aw-register-box{width: 100%;margin: 40px auto 40px;}
	    
}

/* iphone横屏幕 */
@media (max-width:640px){
    /*注册界面*/
    .aw-register-box .mod-body{width:100%;padding:10px;}
    /*.aw-register-box, .aw-register-box ul li{width: auto;}*/
}
@media (max-width:321px){
    .aw-register-box{width: 270px !important;}
    .aw-regiter-agreement{width: 240px;margin:10px 0 0;}
}
