<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>

<div class="aw-content-wrap">
    <div class="mod">
        <div class="mod-head">
            <h3>
				<ul class="nav nav-tabs">
					<li class="<?php if ($_GET['status'] == 0) { ?>active<?php } ?>"><a href="admin/question/report_list/"><?php _e('新举报'); ?></a></li>
					<li class="<?php if ($_GET['status'] == 1) { ?>active<?php } ?>"><a href="admin/question/report_list/status-1"><?php _e('已处理'); ?></a></li>
				</ul>
            </h3>
        </div>

		<div class="mod-body tab-content">
			<form action="admin/ajax/report_manage/" id="batchs_form" onsubmit="return false;" method="post">
			<input name="action_type" id="action_type" type="hidden" value="" />
			<div class="table-responsive">
			<?php if ($this->list) { ?>
				<table class="table table-striped">
					<thead>
						<tr>
							<th><input type="checkbox" class="check-all"></th>
							<th><?php _e('来源地址'); ?></th>
							<th><?php _e('举报内容'); ?></th>
							<th><?php _e('举报理由'); ?></th>
							<th><?php _e('举报类型'); ?></th>
							<th><?php _e('举报时间'); ?></th>
							<th><?php _e('举报人'); ?></th>
							<th><?php _e('操作'); ?></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach ($this->list AS $key => $val) { ?>
						<tr>
							<tr>
								<td><input name="report_ids[]" value="<?php echo $val['id']; ?>" type="checkbox" /></td>
								<td>
									<?php if($val['type'] =='问题回复'){?>
										<a href="<?php echo $val['url'];?>#answer_list_<?php echo $val['target_id'];?>" target='_blank'><?php echo $val['url'];?></a>
									<?php }elseif($val['type'] =='问题评论'){?>
										<a href="<?php echo $val['url'];?>#aw-comment-box-question-<?php echo $val['target_id'];?>" target='_blank'><?php echo $val['url'];?></a>
									<?php }elseif($val['type'] =='回复评论'){?>
										<a href="<?php echo $val['url'];?>#aw-comment-box-answer-<?php echo $val['target_id'];?>" target='_blank'><?php echo $val['url'];?></a>
									<?php }else{?>
										<a href="<?php echo $val['url'];?>" target='_blank'><?php echo $val['url'];?></a>
									<?php }?>
								</td>
								<td>
									<?php echo cjk_substr(htmlspecialchars($val['info']), 0, 128, 'UTF-8', '...'); ?>
								</td>
								<td><?php echo nl2br($val['reason']); ?></td>
                                <td><?php echo nl2br($val['type']); ?></td>
								<td><?php echo date_friendly($val['add_time']); ?></td>
								<td><a href="people/<?php echo $val['user']['url_token']; ?>" target="_blank"><?php echo $val['user']['user_name']; ?></a></td>
								<td align="center"><?php if ($_GET['status'] == 1) { ?><i title="<?php _e('已处理'); ?>" class="icon icon-followed md-tip"></i><?php } else { ?><a onclick="AWS.ajax_request(G_BASE_URL + '/admin/ajax/report_manage/', 'action_type=handle&report_ids[]=<?php echo $val['id']; ?>')" data-toggle="tooltip" title="<?php _e('标记为已处理'); ?>" class="icon icon-check md-tip"></a><?php } ?></td>
							</tr>
						</tr>
						<?php } ?>
					</tbody>
				</table>
			<?php } ?>
			</div>
			</form>
			<div class="mod-table-foot">
				<span class="pull-right mod-page"><?php echo $this->pagination; ?></span>

				<a onclick="$('#action_type').val('delete'); AWS.ajax_post($('#batchs_form'));" class="btn-danger btn"><?php _e('删除'); ?></a>
				<?php if ($_GET['status'] == 0) { ?><a onclick="$('#action_type').val('handle'); AWS.ajax_post($('#batchs_form'));" class="btn-primary btn"><?php _e('标记'); ?></a><?php } ?>
			</div>
		</div>
	</div>
</div>

<?php TPL::output('admin/global/footer.tpl.htm'); ?>