<?php TPL::output('m/header_meta.tpl.htm'); ?>

<!-- 内容 -->
<div class="container">
	<div class="aw-login-box">
		<div class="mod-head">
			<img src="<?php echo G_STATIC_URL; ?>/mobile/img/login-logo.png" alt="" width="198" />
			<h1><?php echo get_setting('site_name'); ?></h1>
			<a href="m/register/" class="register btn btn-default"><?php _e('注册'); ?></a>
		</div>
		<div class="mod-body">
			<form id="login_form" method="post" onsubmit="return false;" action="account/ajax/login_process/">
				<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
				<input type="hidden" value="1" name="net_auto_login" />
				<ul>
					<li>
						<input type="text" class="form-control" name="user_name" placeholder="<?php echo (get_hook_config('mobile_regist')['login_type']['value']=='double' and get_hook_info('mobile_regist')['state']==1 )?'邮箱/手机号/':(get_hook_config('mobile_regist')['login_type']['value']=='mobile'?'手机号/':'邮箱/');?><?php _e('用户名'); ?>" />

					</li>
					<li>
						<input type="password" class="form-control" name="password" placeholder="<?php _e('密码'); ?>" onkeydown="if (event.keyCode == 13) { AWS.ajax_post($('#login_form')); }" />
					</li>
					<li>
						<a class="btn btn-primary btn-block" onclick="AWS.ajax_post($('#login_form'));"><?php _e('登录'); ?></a>
					</li>
					<li class="text-center other-signup">
						<?php if (get_setting('sina_weibo_enabled') == 'Y') { ?>
						<a href="account/openid/weibo/bind/">
							<i class="icon icon-weibo"></i>
							<?php _e('微博登录'); ?>
						</a>
						<?php } ?>
						<?php if (get_setting('qq_login_enabled') == 'Y') { ?>
						<a href="account/openid/qq/bind/">
							<i class="icon icon-qq"></i>
							<?php _e('QQ登录');?>
						</a>
						<?php } ?>
					</li>
					<li class="text-center meta">
						<a href="m/find_password/"><?php _e('找回密码'); ?></a>
						&nbsp;•&nbsp;
						<a href="m/"><?php _e('游客访问'); ?></a>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>
<!-- end 内容 -->

<?php TPL::output('m/footer.tpl.htm'); ?>